@import "tailwindcss";
@plugin "daisyui";

@keyframes slide-x {
    0%   { transform: translateX(-120%); }
    100% { transform: translateX(120vw); }
  }
  
  .animate-slide-x {
    animation: slide-x linear infinite;
    will-change: transform;
  }


*{
overflow-y: hidden
}
  